@model eShop.Presentation.ViewModels.EventViewModel

<div class="form-row">
    <div class="col-md-4 pt-3">
        <label asp-for="Day.Date" class="control-label"></label>
        <input class="form-control" type="date" asp-for="Day.Date">
        <span asp-validation-for="Day.Date" class="text-danger"></span>
        <div class="invalid-tooltip">
            Please provide a date.
        </div>
    </div>

    <div class="col-md-4 pt-3">
        <label asp-for="Time.TimeStart" class="control-label"></label>
        <input asp-for="Time.TimeStart" type="time" class="form-control" required />
        <span asp-validation-for="Time.TimeStart" class="text-danger"></span>
        <div class="invalid-tooltip">
            Please provide a start time.
        </div>
    </div>

    <div class="col-md-4 pt-3">
        <label asp-for="Time.TimeEnd" class="control-label"></label>
        <input asp-for="Time.TimeEnd" type="time" class="form-control" required />
        <span asp-validation-for="Time.TimeEnd" class="text-danger"></span>
        <div class="invalid-tooltip">
            Please provide an end time.
        </div>
    </div>
</div>
