<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eShop</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/card.css" rel="stylesheet" />
    <link href="~/css/event-details.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand fa-2x font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">eShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNavigationOff" aria-controls="toggleNavigationOff" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="toggleNavigationOff">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white fab fa-facebook fa-1x mt-2" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fab fa-instagram fa-1x mt-2" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fab fa-youtube fa-1x mt-2" href="#"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            @await Component.InvokeAsync("ShoppingCartSummary")
                        </li>
                        <li class="nav-item avatar dropdown pr-3">
                            <partial name="_LoginPartial" />                           
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-light border-bottom shadow-sm mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNavigationMainMenuOn" aria-controls="toggleNavigationMainMenuOn" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="toggleNavigationMainMenuOn">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-nowrap" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @await Component.InvokeAsync("CategoryMenu")
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark text-nowrap dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="text-dark text-nowrap dropdown-item" asp-area="" asp-controller="Category" asp-action="Create">Create Categories</a>
                                <a class="text-dark text-nowrap dropdown-item" asp-area="" asp-controller="Event" asp-action="CreateStepOne">Create Events</a>
                                <a class="text-dark text-nowrap dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-nowrap disabled" href="#" tabindex="-1" aria-disabled="true">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-nowrap disabled" href="#" tabindex="-1" aria-disabled="true">About us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @await Component.InvokeAsync("SearchBar")               
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main class="container" role="main">
        <a onclick="topFunction()" id="go-to-top-btn" class="btn btn-lg text-white back-to-top" role="button" title="Go to top"><span class="fas fa-chevron-up"></span></a>
        @RenderBody()
    </main>
    <footer class="mt-4 border-top text-muted">
        <div class="container py-5">
            By Muss Mesmari &copy; 2020 - eShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
