@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    <span class="text-white fas fa-user-circle fa-2x"></span>
</a>

<div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
     aria-labelledby="navbarDropdownMenuLink-55">


    @if (SignInManager.IsSignedIn(User))
    {

        <a class="dropdown-item text-nowrap" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>

        <a class="dropdown-item text-nowrap" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>

    }
    else
    {
        <a class="dropdown-item text-nowrap" asp-area="Identity" asp-page="/Account/Register">Register</a>

        <a class="dropdown-item text-nowrap" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }

</div>
