@model eShop.Presentation.ViewModels.EventViewModel

@{
    ViewData["Title"] = "eShop";
}


<div class="flex-column">
    @if (Model.HomepageFeaturedEventsSection)
    {
        <div class="text-center pb-3">
            <h1>Events of the week</h1>
            <p>Here are the highlighted events</p>
        </div>

        <div class="row justify-content-center">

            <partial name="_EventCard" />

            @*@for (int i = 0; i < @Model.IsHighlightedEvent.ToList().Count(); i++)
                {
                    <partial name="_EventCard" model="@Model.IsHighlightedEvent.ToList()[i]" />
                }*@

            @*@foreach (var highlightedevent in Model.IsHighlightedEvent)
                {
                    <partial name="_EventCard" model="highlightedevent" />
                }*@

        </div>
    }
    <hr class="my-5" />
    @if (Model.HomepageCategorySection)
    {
        <div class="text-center pb-3">
            <h1>Categories</h1>
            <p>Here are our categories</p>
        </div>

        <div class="row justify-content-center">

            @foreach (var category in Model.Categories)
            {
                <partial name="_CategoryCard" model="category" />
            }

        </div>
    }

</div>