@model eShop.Services.ViewModels.HomeViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a>More info will follow soon.</a>
</div>
