@model eShop.Presentation.ViewModels.HomeViewModel


@{
    ViewData["Title"] = "eShop";
}

<div class="text-center pb-3">
    <h1>Events of the week</h1>
    <p>Here are the highlighted events</p>
</div>
<div class="row">

    @foreach (var highlightedevent in Model.IsHighlightedEvent)
    {
        <partial name="_EventCard" model="highlightedevent" />
    }

</div>
