@model eShop.Web.ViewModels.HomeViewModel


@*<partial name="_Carousel" />*@

<h2>Events of the week</h2>
<h4>Our weekly selection - just for you!</h4>

@*<div class="row">

    @foreach (var event in Model.IsHighlightedEvent)
    {
        <partial name="_EventCard" model="product" />
       }

</div>*@


@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
