@model eShop.Presentation.ViewModels.EventViewModel


@{
    if (@Model.Events.Any())
    {
        <div class="card-deck">
            <partial name="_EventCard" />
        </div>
    }
    else
    {
        <div class="container-fluid">
            <p class="text-danger text-center"> @Model.NotFoundSearchedBarMessage</p>
        </div>
    }
}