@model eShop.Web.ViewModels.ShoppingCartViewModel


@if (Model.ShoppingCartService.ShoppingCartItems.Count > 0)
{
    <a class="nav-link text-white text-nowrap" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
        <span class="fas fa-shopping-cart fa-2x"></span>
        <span>
            @Model.ShoppingCartService.ShoppingCartItems.Count
        </span>        
    </a>
}

else
{
<a class="nav-link text-white text-nowrap" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
    <span class="fas fa-shopping-cart fa-2x"></span>
</a>
}
