@model eShop.Web.ViewModels.ShoppingCartViewModel

@if (Model.ShoppingCartService.ShoppingCartItems.Count > 0)
{
    <a>
        <span class="fas fa-shopping-cart"></span>
        <span>
            @Model.ShoppingCartService.ShoppingCartItems.Count
        </span>
    </a>
}

else
{
    <a>
        <span class="fas fa-shopping-cart"></span>
    </a>
}