/* Card hover */
.event-card:hover {
    transform: scale(1.05);
}
/* -------------- */

/* Card hover */
.category-card:hover {
    transform: scale(1.05);
}
/* -------------- */

/* normalize the card images */
.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
/* -------------- */
