@model eShop.Presentation.ViewModels.EventCreateEditViewModel

@{
    ViewData["Title"] = "Create an event | Step Two";
}

<h1>Create an event | Step Two</h1>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>

<!-- Page Content -->
<div class="row">
    <!-- the side scroll spy menu -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="sticky">
            <h1 class="mt-4">New Event</h1>
            <div id="side-menu-list" class="list-group">
                <a href="#schedule" class="list-group-item list-group-item-action active">Schedule</a>
            </div>
        </div>
    </div>

    <!-- the contents of the side scroll spy menu -->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">

        <div data-spy="scroll" data-target="side-menu-list" data-offset="0" class="scrollspy">

            <!-- the "Schedule" Card >> the content of the side scroll spy menu-->
            <div class="card card-outline-secondary my-4" id="schedule">
                <div class="card-header" id="headingSchedule">
                    <h5 class="mb-0">
                        <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseSchedule" aria-expanded="true" aria-controls="collapseSchedule">
                            Schedule
                        </a>
                    </h5>
                </div>
                <div id="collapseSchedule" class="collapse show" aria-labelledby="headingSchedule" data-parent="#accordion">
                    <div class="card-body">

                        <div class="container-fluid bg-transparent">
                            <div class="form-row m-3 align-items-center justify-content-center">

                                <form asp-action="CreateStepTwo" class="needs-validation" novalidate>
                                    @{ if (Model.Days.Any())
                                        {
                                            <partial name="_EventSchedule" />
                                            <hr />
                                        }
                                    }
                                    <div class="form-row">
                                        <partial name="_CreateSchedule">
                                            <div class="mt-4 pt-4">
                                                <button type="submit" class="btn btn-danger"><i class="fa fa-plus text-white"></i></button>
                                            </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 pt-3">
            <a asp-controller="Event"
               asp-action="CreateStepThree"
               role="button" class="btn btn-lg btn-danger text-nowrap w-50">
                Save & Continue
            </a>
        </div>

    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>