@model eShop.Presentation.ViewModels.EventCreateEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.EventId" />
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.ShortDescription" class="control-label"></label>
                <input asp-for="Event.ShortDescription" class="form-control" />
                <span asp-validation-for="Event.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LongDescription" class="control-label"></label>
                <input asp-for="Event.LongDescription" class="form-control" />
                <span asp-validation-for="Event.LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Price" class="control-label"></label>
                <input asp-for="Event.Price" class="form-control" />
                <span asp-validation-for="Event.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Currency" class="control-label"></label>
                <select asp-for="Event.Currency" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(Currency)), "Select a currency"))"></select>
                <span asp-validation-for="Event.Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.ImageUrl" class="control-label"></label>
                <input asp-for="Event.ImageUrl" class="form-control" />
                <span asp-validation-for="Event.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.IsHighlightedEvent" /> @Html.DisplayNameFor(model => model.Event.IsHighlightedEvent)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.InStock" /> @Html.DisplayNameFor(model => model.Event.InStock)
                    <span asp-validation-for="Event.InStock" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Event.CategoryId" class="control-label"></label>
                <select asp-for="Event.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))"></select>
                <span asp-validation-for="Event.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

