@model eShop.Presentation.ViewModels.EventsListViewModel


<partial name="_EventsFilter" />

@*<form asp-controller="Event" method="get" role="form">
        <div class="input-group">
            <input class="form-control py-2" type="text" asp-for="SearchedEvent" placeholder="Search">
            <input class="form-control py-2" type="text" asp-for="SearchedEvent" placeholder="Search">
            <span class="input-group-append">
                <a class="btn btn-outline-secondary" value="Submit">
                    <i class="fa fa-search"></i>
                </a>
            </span>
        </div>
    </form>*@

<h1 class="text-center text-capitalize text-nowrap">@Model.CurrentCategory</h1>
@{
    if (@Model.Events.Any())
    {
        <div class="card-deck">
            @foreach (var item in Model.Events)
            {
                <partial name="_EventCard" model="item" />
            }
        </div>
    }
    else
    {
        <div class="container-fluid">
            <p class="text-danger text-center"> @Model.NotFoundSearchedEventMessage</p>
        </div>
    }
}


